body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
#box2{
    font-size: 30px;
    font-weight: bold;
    height: 60px;
}
#digits{
    margin-right: 110px;
}
#selectTime{
    margin-left: 100px;
}
#check{
    text-align: center;
}
#box3{
    font-size: 30px;
    font-weight: bold;
    height: 60px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

